In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('../../Datasets/adult.csv')

In [16]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [17]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [18]:
df['Id'] = df.index

In [19]:
df.to_csv('../../Datasets/adult_mod.csv')

In [7]:
df_cup = df.sample(1000)

In [9]:
df_with_dup = pd.concat([df, df_cup])

In [10]:
df_with_dup.shape

(33561, 15)

In [12]:
df.drop_duplicates()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [15]:
pd.merge(df, df_cup)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
1,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
2,46,Private,456062,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,55,United-States,>50K
3,40,Self-emp-inc,110862,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2377,50,United-States,<=50K
4,57,Federal-gov,199114,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,2258,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,20,?,203992,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
997,51,Private,274502,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,48,United-States,<=50K
998,38,Private,257416,9th,5,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States,<=50K
999,38,Private,32916,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K
1000,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K

In [16]:
df.sum()

age                                                         1256257
workclass         ?Private?PrivatePrivatePrivatePrivateState-gov...
fnlwgt                                                   6179373392
education         HS-gradHS-gradSome-college7th-8thSome-collegeH...
education.num                                                328237
marital.status    WidowedWidowedWidowedDivorcedSeparatedDivorced...
occupation        ?Exec-managerial?Machine-op-inspctProf-special...
relationship      Not-in-familyNot-in-familyUnmarriedUnmarriedOw...
race              WhiteWhiteBlackWhiteWhiteWhiteWhiteWhiteWhiteW...
sex               FemaleFemaleFemaleFemaleFemaleFemaleMaleFemale...
capital.gain                                               35089324
capital.loss                                                2842700
hours.per.week                                              1316684
native.country    United-StatesUnited-StatesUnited-StatesUnited-...
income            <=50K<=50K<=50K<=50K<=50K<=50K<=50K>50K<=50K>5...
dtype: object

# Experiments using vaex

In [1]:
import vaex as ve

In [2]:
df = ve.from_csv('../../Datasets/adult_mod.csv')
df.head()

  #    age  workclass      fnlwgt  education       education.num  marital.status    occupation         relationship    race    sex       capital.gain    capital.loss    hours.per.week  native.country    income      Id
  0     90  ?               77053  HS-grad                     9  Widowed           ?                  Not-in-family   White   Female               0            4356                40  United-States     <=50K        0
  1     82  Private        132870  HS-grad                     9  Widowed           Exec-managerial    Not-in-family   White   Female               0            4356                18  United-States     <=50K        1
  2     66  ?              186061  Some-college               10  Widowed           ?                  Unmarried       Black   Female               0            4356                40  United-States     <=50K        2
  3     54  Private        140359  7th-8th                     4  Divorced          Machine-op-inspct  Unmarried       White   Female               0            3900                40  United-States     <=50K        3
  4     41  Private        264663  Some-college               10  Separated         Prof-specialty     Own-child       White   Female               0            3900                40  United-States     <=50K        4
  5     34  Private        216864  HS-grad                     9  Divorced          Other-service      Unmarried       White   Female               0            3770                45  United-States     <=50K        5
  6     38  Private        150601  10th                        6  Separated         Adm-clerical       Unmarried       White   Male                 0            3770                40  United-States     <=50K        6
  7     74  State-gov       88638  Doctorate                  16  Never-married     Prof-specialty     Other-relative  White   Female               0            3683                20  United-States     >50K         7
  8     68  Federal-gov    422013  HS-grad                     9  Divorced          Prof-specialty     Not-in-family   White   Female               0            3683                40  United-States     <=50K        8
  9     41  Private         70037  Some-college               10  Never-married     Craft-repair       Unmarried       White   Male                 0            3004                60  ?                 >50K         9

In [28]:
df2 = ve.from_csv('../../Datasets/adult_mod.csv')
df3 = ve.from_csv('../../Datasets/adult_merge_sample.csv')

In [26]:
# df2 = df2.sample(20000)
df = df.sample(20000)

In [31]:
df.export('../../Datasets/adult_merge_sample.csv')

In [29]:
df.join(df2, how='inner', on='Id', lsuffix="_left")

#       age_left    workclass_left    fnlwgt_left    education_left    education.num_left    marital.status_left    occupation_left    relationship_left    race_left           sex_left    capital.gain_left    capital.loss_left    hours.per.week_left    native.country_left    income_left    Id_left    age    workclass         fnlwgt    education     education.num    marital.status         occupation         relationship    race                sex     capital.gain    capital.loss    hours.per.week    native.country    income    Id
0       24          State-gov         147253         Some-college      10                    Never-married          Tech-support       Not-in-family        White               Male        0                    0                    50                     United-States          <=50K          5591       24     State-gov         147253    Some-college  10               Never-married          Tech-support       Not-in-family   White               Male    0               0               50                United-States     <=50K     5591
1       45          Local-gov         192684         Some-college      10                    Divorced               Adm-clerical       Unmarried            Black               Female      0                    0                    38                     United-States          <=50K          23914      45     Local-gov         192684    Some-college  10               Divorced               Adm-clerical       Unmarried       Black               Female  0               0               38                United-States     <=50K     23914
2       45          Private           88061          11th              7                     Married-spouse-absent  Machine-op-inspct  Unmarried            Asian-Pac-Islander  Female      0                    0                    40                     South                  <=50K          23785      45     Private           88061     11th          7                Married-spouse-absent  Machine-op-inspct  Unmarried       Asian-Pac-Islander  Female  0               0               40                South             <=50K     23785
3       45          Private           377757         9th               5                     Married-civ-spouse     Transport-moving   Husband              White               Male        0                    0                    40                     United-States          <=50K          11682      45     Private           377757    9th           5                Married-civ-spouse     Transport-moving   Husband         White               Male    0               0               40                United-States     <=50K     11682
4       40          Private           173607         10th              6                     Married-civ-spouse     Transport-moving   Husband              White               Male        0                    0                    40                     United-States          <=50K          5836       40     Private           173607    10th          6                Married-civ-spouse     Transport-moving   Husband         White               Male    0               0               40                United-States     <=50K     5836
...     ...         ...               ...            ...               ...                   ...                    ...                ...                  ...                 ...         ...                  ...                  ...                    ...                    ...            ...        ...    ...               ...       ...           ...              ...                    ...                ...             ...                 ...     ...             ...             ...               ...               ...       ...
19,995  21          Private           184543         Assoc-voc         11                    Never-married          Adm-clerical       Not-in-family        White               Female      0                    0                    40                     United-States          <=50K          28577      21     Private           184543    Assoc-voc     11               Never-married          Adm-clerical       Not-in-family   White               Female  0               0               40                United-States     <=50K     28577
19,996  54          Private           82566          Assoc-acdm        12                    Married-civ-spouse     Sales              Husband              White               Male        0                    0                    45                     United-States          <=50K          21260      54     Private           82566     Assoc-acdm    12               Married-civ-spouse     Sales              Husband         White               Male    0               0               45                United-States     <=50K     21260
19,997  44          Self-emp-inc      133060         Some-college      10                    Divorced               Machine-op-inspct  Not-in-family        White               Male        0                    0                    60                     United-States          <=50K          6634       44     Self-emp-inc      133060    Some-college  10               Divorced               Machine-op-inspct  Not-in-family   White               Male    0               0               60                United-States     <=50K     6634
19,998  23          Private           35633          HS-grad           9                     Married-civ-spouse     Handlers-cleaners  Husband              White               Male        0                    0                    40                     United-States          <=50K          8547       23     Private           35633     HS-grad       9                Married-civ-spouse     Handlers-cleaners  Husband         White               Male    0               0               40                United-States     <=50K     8547
19,999  48          Self-emp-not-inc  107231         Bachelors         13                    Married-civ-spouse     Exec-managerial    Husband              White               Male        99999                0                    50                     United-States          >50K           1656       48     Self-emp-not-inc  107231    Bachelors     13               Married-civ-spouse     Exec-managerial    Husband         White               Male    99999           0               50                United-States     >50K      1656

In [4]:
df[['age', 'race']]

#       age    race
0       90     White
1       82     White
2       66     Black
3       54     White
4       41     White
...     ...    ...
32,556  22     White
32,557  27     White
32,558  40     White
32,559  58     White
32,560  22     White

In [16]:
df['age'].unique()
# df.median_approx('age')

[37,
 56,
 57,
 31,
 51,
 68,
 38,
 30,
 55,
 61,
 48,
 69,
 27,
 77,
 67,
 60,
 76,
 80,
 90,
 22,
 45,
 26,
 66,
 78,
 88,
 47,
 54,
 83,
 23,
 42,
 43,
 35,
 39,
 65,
 34,
 25,
 28,
 20,
 19,
 85,
 72,
 58,
 50,
 24,
 21,
 75,
 79,
 36,
 17,
 44,
 46,
 74,
 62,
 82,
 53,
 70,
 73,
 81,
 63,
 40,
 18,
 71,
 84,
 86,
 29,
 59,
 49,
 52,
 32,
 41,
 87,
 33,
 64]